# Set default line endings for text files to LF on checkout and commit.
* text=auto eol=lf

# Explicitly ensure YAML files use LF (for consistency)
*.yml text eol=lf
*.yaml text eol=lf

# Explicitly ensure Python files use LF (though Black usually enforces this)
*.py text eol=lf

# Treat specific file types as binary (to prevent Git from trying to modify them)
*.csv binary
*.bin binary
*.gz binary
*.png binary
*.jpg binary
*.zip binary
